{% extends 'account/homepage.html' %}
{% load static %}
{% block title %}About{% endblock title %}

{% block about %}
  <div class="container mt-3">
    <br>
    <h2 class="text-center text-white">About Us</h2>
    <br>
    <div class="row container">
      <p class="fs-4 text-center text-white">We are here to make candidate's profile more readable by making it digital so that recruiters can go through the digital profile of the candidate easily.
      And also this makes the profile shines more than a normal pdf resume, which helps the candidate's profile to get shortlisted with less effort</p>
    </div>
  </div>

  <br>

  <div class="container mt-3">
    <br>
    <h2 class="text-center text-white">Mission</h2>
    <br>
    <div class="row container">
      <p class="fs-4 text-center text-white">Our mission is to be a world's leading digital profile maker for all the job seakers around the world,
      We are positively looking ahead to extend some of the profile features in near future and deliver the best digital profile in the available market</p>
    </div>
  </div>

  <br><br>
{% endblock about %}
